/bootstrap/compiled.php
/vendor
composer.phar
composer.lock  # Remove this one after you create a project
.env
.DS_Store
Thumbs.db


/node_modules
/.idea/*.iws
/.idea/workspace.xml
/.idea/tasks.xml
/public/build/*
/public/css/*
/public/js/*
/resources/assets/css*