/* app specific scss */
$colour_white:#fff;
$silver_background: #F5F5F5;
$colour_orange:#F56423;
$colour_red:#e74c3c;
$colour_grey:#bdc3c7;
$colour_success:green;
$i_feed_item_height: 28px;

$i_border_radius: 8px;


body{
	/*background-color: $silver_background;*/
  font-family: 'Noto Sans', sans-serif;
}

a.feed_link{
  display: block;
  font-size: smaller;
  color: black;
  font-weight: bold;
  background-color:$colour_white;
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom: 1px solid $silver_background;
}
a.feed_link .feed-link-thumb-wrapper{
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 8px;
}
a.feed_link img.feed-link-thumb{
  max-height: 18px;
  width: auto;
  max-width: 18px;
  display: block;

  background-color: $colour_white;
}
a.feed_link span.feed-link-title{
  max-height: 18px;
  width: auto;
  max-width: 18px;
  display: block;
  margin-right: 8px;

  display: inline-block;
}
a.feed-item{
	color: black;
  background-color: $silver_background;
	font-size: smaller;
	display: block;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom:1px solid $silver_background;
  font-weight: bold;
}

a.feed-item span{
	padding:4px;
	line-height: $i_feed_item_height;
}
.limit{
	max-width:100%;
	white-space:nowrap;
	overflow:hidden;
}
.limit.ellipsis{
	text-overflow: ellipsis;	
}
/*
div.row div {
	padding: 0px !important;
	height: $i_feed_item_height;
	overflow-x:hidden;
}
*/

a.feed-item:visited{
	color: gray;
  background-color:$colour_white;
}

a.pagination, a.feed_link, a#home_link{
	cursor: pointer;
}


ul.pager li.disabled{
	display: none;
}

.pulled-since.never{color:white;background-color:gray;}
.pulled-since.active{color:white;background-color:green;}
.pulled-since.recent{color:white;background-color:orange;}
.pulled-since.day{color:white;background-color:red;}
.pulled-since.day_plus{color:white;background-color:black;}


.feed-item img.feed-thumb{
	max-width: ($i_feed_item_height * 1.5);
	height: auto;
	max-height: $i_feed_item_height;
}
.feed-item .feed-thumb-wrapper{
	width: ($i_feed_item_height * 1.5);
	display: inline-block;
}

.navbar-brand{
	font-size: 36px;
}

#home_link{font-family: 'PT Sans Caption', sans-serif;}
.brand{ letter-spacing: 1.0;}
.brand.rss{color:$colour_orange;}
.brand.me{color:$colour_grey;}

.circle{
	display:inline-block;
	border-radius:$i_feed_item_height/4;
	height:$i_feed_item_height/2;
	width:$i_feed_item_height/2;
	margin-top:$i_feed_item_height/4;
}

#loading{
  font-size:18px;

  margin:auto;
  margin-top:30px;
  padding:8px;
  border-radius: $i_border_radius;
  max-width:200px;

  text-align: center;
  border: 1px solid $colour_grey;
}
#loading .fa{
  color:$colour_grey;
}

#siteLoginRegister{

  margin:auto;
  margin-top:30px;
  max-width:350px;
/*
  border: 1px solid $colour_orange;*/
  background-color:$colour_white;
  border-radius: $i_border_radius;
}

#manageFeeds{
  max-height:70%;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-toggle-button{
  display: inline-block;
}
.menu-text{
  line-height: 17px;
  vertical-align: top;
}

a{cursor: pointer;}
img.aspect-scaled{max-width: 100%;height:auto;}

ul.nav.nav-tabs{
  margin-bottom: 16px;
}
.btn{
  box-shadow:none;
}
.btn-primary,
.btn-primary:active{
  background: $colour_white !important;
  color:$colour_orange !important;
  border-color:$colour_orange !important;
}
.btn-primary:hover,
.btn-primary:focus{
  background: $colour_orange !important;
  color:$colour_white !important;
  border-color:$colour_orange !important;
}
.btn-danger,
.btn-danger:active{
  background: $colour_white;
  color:$colour_red;
  border-color:$colour_red;
}
.btn-danger:hover,
.btn-danger:focus{
  background: $colour_red;
  color:$colour_white;
  border-color:$colour_red;
}



.btn-default{
  background: $silver_background !important;
  color:$colour_orange !important;
  border-color:$silver_background !important;
}
.btn-default:hover,
.btn-default:focus{
  background: $colour_orange;
  color:$colour_white;
  border-color:$colour_orange;
}

#fixed_output{
}
#fixed_output .alert{
  padding:4px;
  padding-left:8px;
  margin-bottom:0px;
  margin-top:10px;
  padding-right:20px;
}
#fixed_output .alert-dismissable .close, #fixed_output .alert-dismissible .close{
  right:-8px !important;
}
.alert{
  background-image: none;
  font-family:inherit;
  text-shadow: none;
}
.alert.alert-success{
  background-color:$colour_success;
  border-color:$colour_success;
  color:$colour_white;
}

.nav > li, .nav > li > ul {
  text-align: right;
}