/* app specific scss */
$silver_background: #F5F5F5;
$i_feed_item_height: 44px;

body{
	background-color: $silver_background;
    font-family: 'Noto Sans', sans-serif;
}

.feed-item td a{
	font-weight:bold;
	color: black;
	background-color: white;
	font-size: smaller;
	display: block;
	height: 100%;
}
.feed-item td a span{padding:4px;line-height: $i_feed_item_height;}

tr td {
	padding: 0px !important;
	height: $i_feed_item_height;
}

.feed-item td a:visited{
	font-weight: 100 !important;
	color: gray;
	background-color: $silver_background;
}


ul.pager li.disabled{
	display: none;
}

.pulled-since.never{color:white;background-color:gray;}
.pulled-since.active{color:white;background-color:green;}
.pulled-since.recent{color:white;background-color:orange;}
.pulled-since.day{color:white;background-color:red;}
.pulled-since.day_plus{color:white;background-color:black;}


.feed-item img.feed-thumb{
	max-width: 48px;
	height: auto;
	max-height: 36px;
}

.navbar-brand{
	font-size: 44px;
}

.brand{ letter-spacing: 1.2;}
.brand.rss{color:#f39c12;}
.brand.me{color:#bdc3c7;}

.circle{
	display:inline-block;
	border-radius:$i_feed_item_height/4;
	height:$i_feed_item_height/2;
	width:$i_feed_item_height/2;
	margin-top:$i_feed_item_height/4;
}